
.idea/.idea.SDJ_Assignmant4.dir/.idea/indexLayout.xml
.idea/.idea.SDJ_Assignmant4.dir/.idea/projectSettingsUpdater.xml
.idea/.idea.SDJ_Assignmant4.dir/.idea/vcs.xml
.idea/.idea.SDJ_Assignmant4.dir/.idea/workspace.xml
.idea/modules.xml
.idea/SDJ_Assignmant4.iml
.idea/vcs.xml
*.xml
